{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "no-var": "warn",
    "no-console": "off",
    "no-unused-vars": "warn",
    "func-call-spacing": [
      "warn",
      "never"
    ],
    "space-before-blocks": "warn",
    "keyword-spacing": "warn",
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "semi-spacing": "warn",
    "func-style": ["warn", "expression"],
    "space-infix-ops": "warn",
    "space-in-parens": "warn",
    "camelcase": "warn",
    "eqeqeq": "warn",
    "brace-style": "warn",
    "space-before-function-paren": [ "warn", { "anonymous": "never", "named": "never", "asyncArrow": "never" } ],
    "func-names": ["warn", "never"],
    "quotes": "off"
  }
}