main.blurred {
  background-color: #aaa;

  > * {
    filter: blur(0.2rem);
  }
}

div.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 200px;
  left: 25%;
  width: 50%;
  z-index: 1;
  filter: blur(0);
  background-color: white;
  box-shadow: 5px 5px 10px green;
  border: 2px solid black;

  button {
    margin: 1rem;
  }
}
