div.map {
  height: 50vh;
  width: 30vw;
};

div.pointer {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.6rem;
  position: relative;
  font-size: 1rem;
  top: -0.6rem;
  left: -0.6rem;
  border: 1px solid black;
}