table {
  background-color: black;
  color: white;
  border-collapse: collapse;

  th, td {
    border: 1px solid black;
    padding: 0.5rem;
  }

  .details-link {
    color: white;
    text-decoration: underline;

    &:hover{
      cursor: pointer;
    }
  }
}